.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: $title-main-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active:hover,
.active:focus {
	color: $accent-color;
}
.header {
	position: relative;
	border-bottom: 1px solid #ececec;
	@media screen and (max-width: 767px) {
		width: 100%;
	}
}
.navigation {
	align-items: center;
	@media screen and (max-width: 767px) {
		display: flex;
		justify-content: space-between;
	}
}
.nav-item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 40px;
	}
	@include for-size(tablet-landscape) {
		margin-right: 50px;
	}
}
.contacts-list {
	@include for-size(desktop) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
	}
}

.contacts-item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 15px;
	}
	@include for-size(desktop) {
		margin-right: 30px;
	}
}
.contacts-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: $main-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover .adress-icon,
	&:focus .adress-icon {
		fill: $accent-color;
	}
}
.adress-icon {
	vertical-align: middle;
	margin-right: 10px;
	fill: $main-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-actv {
	color: $accent-color;
	font-weight: bold;
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: $accent-color;
		border-radius: 2px;
		bottom: -8px;
	}
	@include for-size(tablet-landscape) {
		&:before {
			bottom: -32px;
		}
	}
}
.portfolio-actv {
	color: $accent-color;
	font-weight: bold;
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: $accent-color;
		border-radius: 2px;
		bottom: -8px;
	}

	@include for-size(tablet-landscape) {
		&:before {
			bottom: -32px;
		}
	}
}

.portfolio-nav {
	margin-bottom: 50px;
	justify-content: center;
	@media screen and (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
	}
}

.mobile-menu {
	@media screen and (max-width: 767px) {
		border-top: 1px solid #ececec;
		display: none;

		&.is-open {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: $white;
			text-align: center;
			padding: 60px 0;
			z-index: 999;
		}
	}
	@include for-size(tablet-landscape) {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
	}
}
.contacts-list {
	@media screen and (max-width: 767px) {
		margin-top: 60px;
		display: block;
	}
}
.mobile-button {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	.burger-icon {
		fill: $title-main-color;
	}

	&:focus .burger-icon,
	&:hover .burger-icon {
		fill: $accent-color;
	}

	.close-menu {
		display: none;
	}
	&.is-open .close-menu {
		display: block;
	}
	&.is-open .open-menu {
		display: none;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
